div {

    font-family: Helvetica;
    background-color: #272D33;
    color: white;
    padding: 5px;
    }
    
    nav {
    
    background-color: #272D33;
    padding: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    }
    
    img {
    
    width: 60px;
    
    }
 
    #playbutton{
        width: 150px;
        height: 50px;
    }


    .items:hover{
        background-color: grey;
        opacity: 0.5;
    }
    
    a {
    
        width: 20%;
        text-align: center;
        text-decoration: none;
    }